body {
	font-family: 'Raleway', sans-serif;
}

/* Header */

.header-logo,
.header-newsletter-icon {
  height: 16px;
}

header { 
  display: flex;
  justify-content: space-between; 
  padding: 20px;
}

.header-navigation ul {
  display: flex;
}

.header-navigation li {
  padding-left: 20px;
}

/* Yellow banner section */

.yellow-banner-section {
  padding: 15px 20px;

  background: #fd3;
}

/* logo and motto section */

.logo-and-motto-section {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}

.logo-and-motto-section .logo {
  height: 60px;
}

.logo-and-motto-section .motto {
  font-size: 3rem;
  font-weight: 200;
}

.headline-articles-section article {
  background: #565656;
}

/* headline articles section */

.headline-articles-section {
  display: grid;
  grid-template-columns: 49% repeat(2, 24.8%);
  grid-template-rows: 248px 128px 248px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 80px;
}

#article-1 { grid-area: 1 / 1 / 3 / 2; }
#article-2 { grid-area: 3 / 1 / 4 / 2; }
#article-3 { grid-area: 1 / 2 / 2 / 3; }
#article-4 { grid-area: 1 / 3 / 2 / 4; }
#article-5 { grid-area: 2 / 2 / 4 / 4; }

/* popular articles section */

.popular-articles-section {
  margin-top: 70px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
  text-align: center;
}

.popular-articles-section-title {
  padding-bottom: 40px;

  font-size: 30px;
  font-weight: 500;
}

.popular-articles-wrapper {
  display: flex;
  justify-content: space-between;
}

.popular-article {
  width: 15%;
  text-align: left;
  font-size: 24px;
  font-weight: 200;
}

/* latest stories section */

.latest-stories-section {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 100px;
}

.latest-stories-section-title {
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 70px;
}

.latest-stories-list {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 30px;
}

.latest-story-thumbnail {
  width: 100%;
  height: 158px;
  background: #505656;
}

.latest-story-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
}

.latest-story-time-uploaded {
  margin-bottom: 30px;
  font-weight: 100;
}

/* work with us section */
.work-with-us-section {
  padding: 50px 100px;
  display: flex;
}

.work-with-us-details-section {
  padding-right: 20px;
}

.work-with-us-details-section .heading {
  font-weight: 900;
  font-size: 32px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.work-with-us-details-section .body {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.work-with-us-details-section .get-in-touch-button {
  background: #00d0d0;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  color: #fff;
}

.work-with-us-details-section,
.work-with-us-job-sectors-section {
  width: 50%;
}

.work-with-us-job-sectors-section {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
}

.work-with-us-job-sector {
  width: 50%;
  height: 144px;
  display: flex;
  align-items: center;
}

.work-with-us-job-sector .title {
  font-weight: 600;
  padding-left: 10px;
}

.work-with-us-job-sector .img {
  height: 80%;
}

/* affiliated companies section */

.affiliated-companies-section {
  padding: 50px 30px;
}

.affiliated-companies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.affiliated-company img {
  height: 82px;
}

/* footer section */
footer {
  display: flex;
  padding: 50px 100px;
  background: #000;
}

section.media-links,
section.more-and-about-tnw {
  width: 50%;
}

section.media-links .logo-and-motto {
  padding-bottom: 60px;
}

section.media-links .logo {
  height: 39px;
  padding-bottom: 20px;
}

section.media-links .motto {
  font-size: 30px;
  font-weight: 200;
}

.media-links-list {
  display: flex;
  justify-content: flex-start;
}

.media-link {
  height: 24px;
  width: 24px;
  margin-right: 10px;
}

.more-and-about-tnw {
  display: flex;
}

.more-and-about-tnw .heading {
  font-size: 20px;
  font-weight: 600;
  padding-bottom: 30px;
}

.more-and-about-tnw .heading,
section.media-links .logo,
section.media-links .motto {
  color: #fff;
}

.more-and-about-tnw .tnw-item {
  font-weight: 200;
  font-size: 16px;
  margin-bottom: 15px;
  color: #00cccc;
}

section.more-tnw,
section.about-tnw {
  width: 50%;
}

ul.media-links-list .media-icon {
  fill: #fff;
}














